/bitArray.js
/Book.java
/BookDao.java
/BookDaoImpl.java
/codecBase64.js
/codecString.js
/FriendsPage.html
/FriendsPage.java
/hashPass.js
/hashPass.txt
/LoginPage.html
/LoginPage.java
/ManageBooks.java
/Sha256.java
/sha256.js
/sjcl.js
/sophia.jpg
/SophiaApplication.java
/SophiaIndex.html
/SophiaIndex.java
/SophiaPage.java
/SophiaSession.java
/styleSophia.css
/User.java
/UsersReader.java
